<div class="main-container"> 

  <h1>Create an account</h1>
  <p>Already have an account? <a href="/login">Sign in here</a>.</p>

    <form method="POST" action="/register">

      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputName" required>
      </div>
  
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
      </div>

      <div class="mb-3">
        <label for="neighbourhood" class="form-label">Neighbourhood</label>
        <select class="form-select" name="neighbourhood" aria-label="Default select example" required>
            <option value="">Select...</option>
            {{#each neighbourhood}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
      </div>

      <button type="submit" class="btn primary-button">Submit</button>

  </form>

  {{#if error}}
      <p class="error">{{error}}</p>
  {{/if}}

</div>
