<div class="main-container">
  <h1>Create Listing</h1>

  <form method="POST" action="/create" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Item Name</label>
      <input type="text" maxlength="20" name="title" class="form-control" id="exampleInputTitle" placeholder="max 20 characters " required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" required></textarea>
    </div>

    <!-- Add photo upload here -->
    <div class="upload-area">   
        <input type="file" name="photo" accept="image/png, image/jpg">
    </div>
    <!-- Add photo upload here -->

    <div class="mb-3">
      <label for="neighbourhood" class="form-label">Neighbourhood</label>
      <select class="form-select" name="neighbourhood" aria-label="Default select example" required>
          <option value="">Select...</option>
            {{#each neighbourhood}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
      </select>
    </div>

  <button type="submit" class="btn primary-button">Submit</button>
</form>

</div>