<div class="main-container">
  <h1>Create Listing</h1>

  <form method="POST" action="/create">

    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Item Name</label>
      <input type="text" name="title" class="form-control" id="exampleInputTitle">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- Add photo upload here -->

    <div class="mb-3">
      <label for="exampleInputNeighbourhood" class="form-label">Select your neighbourhood</label>
      <select class="form-select" aria-label="Default select example">
        {{#each neighbourhood}}
          <option selected> Open this select menu</option>
          <option value="{{this._id}}">{{this.neighbourhood}}</option>
          {{/each}}
      </select>
    </div>

  <button type="submit" class="btn primary-button">Submit</button>
  
</form>

</div>