<div class="main-container"> 

    <a href="/" class="btn secondary-button">Back</a>

<<<<<<< HEAD
    {{#each user}}
    <h2>{{this.name}}</h2>
    {{/each}}

    

=======
    <h2>{{listing.title}}</h2>
>>>>>>> 0f913a958056975a362b3fadd4dfa9ff7a4575dd

    <p>{{listing.description}}</p>

</div>