<div class="main-container"> 

    <a href="/" class="btn secondary-button">Back</a>

    <img class="img-size" src={{listing.photo}} alt="list image">

    <h2>{{listing.title}}</h2>

    <p>{{listing.description}}</p>


</div>