<div class="main-container"> 
  <h1>Account</h1>

  <form method="POST" action="/signup">

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" name="name" value="" class="form-control" id="exampleInputName">
    </div>
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputNeighbourhood" class="form-label">Neighbourhood</label>
      <select class="form-select" value="" aria-label="Default select example">
            {{#each neighbourhood}}
              <option selected> Open this select menu</option>
              <option value="{{this._id}}">{{this.neighbourhood}}</option>
            {{/each}}
      </select>
    </div>

  <button type="submit" class="btn primary-button">Save Changes</button>

  </form>

  {{#if error}}
      <p class="error">{{error}}</p>
  {{/if}}

</div>