<div class="main-container"> 
    <h1>Rehome goods in your Neighbourhood</h1>

 {{#each listings}}
 
        <img class="img-size" src={{this.photo}} alt="list image">
    
        <a href="/listings/{{this._id}}">
            <p>{{this.title}}</p>
        </a> 

{{/each}}
    
</div>