<div class="main-container"> 
    <h1>Rehome goods in your Neighbourhood</h1>

<div class="cards">
    {{#each listings}}
    <div class="cards-item">

        <a href="/listings/{{this._id}}">
            <img class="img-size" src={{this.photo}} alt="list image">
            <p class="item-name">{{this.title}}</p>
        </a> 
        
    </div>
    {{/each}}
</div>
    
</div>