<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<a href="/login">Login</a>

<a href="/signup">Sign up</a>

<a href="/listings">Listings</a>

<a href="/create">Create Listing</a>

<a href="/manage">Manage Listings</a>

<a href="/account">Account</a>

<a href="/edit">Edit Listing</a>