<div class="main-container"> 

    <h1>404 Error</h1>
    
    <div class="center">
        <div class="padding-above">
            <img src="/images/giphy.gif" alt="throw away computer">
        </div>

        <div class="padding-above">
            <a href="/" class="btn primary-button">Back to safety</a>
        </div>
    </div>

</div>
