body {
  font: 16px;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: block;
  padding: 2rem;
  flex: 1;
}

a {
  color: #118ab2;
  text-decoration: none;
}

a:hover {
  color: #073b4c;
}

h1 {
  size: 40px;
  color: #073b4c;
}

h2 {
  size: 30px;
  color: #073b4c;
  padding-bottom: 10px;
}

h3 {
  size: 30px;
  color: #073b4c;
}

h4 {
  size: 22px;
  color: #073b4c;
}

/* Navigation */
.navbar {
  padding-left: 40px;
  padding-right: 30px;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-nav > li{
  display: flex;
}

.primary-button {
  background-color: #118ab2;
  color: #eaeaea;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.primary-button:hover{
  background-color: #073b4c;
  color: #eaeaea;
  text-decoration: none;
}

.secondary-button {
  background-color: #2a9d8f;
  color: #eaeaea;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.secondary-button:hover {
  background-color: #073b4c;
  color: #eaeaea;
  text-decoration: none;
}

/* Homepage / Manage Listings */
.img-size {
  object-fit: cover;
  display: block;
  height: auto; 
  width: 100%;
  max-width: 150px; 
  max-height: 100px;
}

.cards {
  padding-top: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cards-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.no-listings {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* View Listing */
.img-size-bigger {
  width: 400px;
  margin-bottom: 20px;
}

.listing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.item-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}

/* Create/Edit Listing */
.upload-area {
  padding: 10px 0 20px 0;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: auto; 
  align-items: center;
  padding: 10px;
  background-color: #F8FAFA;
}

.footer-item {
  padding-top: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #118ab2;
}

.footer-item:hover{
  color: #073b4c;
}

/* Misc */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.padding {
  padding: 20px;
}
.padding-above {
  padding-top: 30px;;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}